<!DOCTYPE html>
<html>
<head>
<title>Login SADUD</title>
</head>
<body>

<h3>Login SADUD</h3>
<button onclick="loginFinger()">Login Fingerprint / Face ID</button>

<script>
async function loginFinger() {
  const res = await fetch("/login/finger/begin");
  const options = await res.json();

  const cred = await navigator.credentials.get({ publicKey: options });

  const data = {
    id: cred.id,
    rawId: btoa(String.fromCharCode(...new Uint8Array(cred.rawId))),
    response: {
      authenticatorData: btoa(String.fromCharCode(...new Uint8Array(cred.response.authenticatorData))),
      clientDataJSON: btoa(String.fromCharCode(...new Uint8Array(cred.response.clientDataJSON))),
      signature: btoa(String.fromCharCode(...new Uint8Array(cred.response.signature))),
      userHandle: null
    },
    type: cred.type
  };

  const r = await fetch("/login/finger/complete", {
    method: "POST",
    headers: {"Content-Type":"application/json"},
    body: JSON.stringify(data)
  });

  if ((await r.json()).success) location.href="/dashboard";
}
</script>

</body>
</html>
